# Gatsby files
.cache/
public/

# Dependencies
node_modules/

# Environment variables
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Deployment
public-dist.zip
*.zip

# Development backups
*.backup
*-broken.*

# Misc
.DS_Store
